#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu-list {
  position: absolute;
  top: 25px;
  left: 0px;
  min-width: 10rem;
}
.category-menu {
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.category-menu-p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 1.2rem;
  padding: 0px 0px 15px 0px;
}
.menu-icon {
  padding: 10px;
  scale: 1.5;
  top: 5px;
  left: 20px;
  padding: 5px 5px 5px 25px;
  color: #585858;
  
}
.menu-icon:hover {
  cursor: pointer;
}
.menu-item {
  width: 100%;
  background: #141414;
}
.todos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

}

.todo, .todo-in-progress, .todo-done {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  gap: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-width: 10rem;
  min-height: 10rem;
}
.todo-p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 1.2rem;
  padding: 0px 0px 15px 0px;
}
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 2px solid white;
  background: rgb(21, 21, 21);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.todo-form input,
.todo-form textarea,
.todo-form button{
  display: block;
  width: 100%;
  background: #2c2c2c;
}

.todo-form button{
  background: #000000;
}

.todo-form textarea {
  height: 4rem;
}

.form-rubric {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;

}
.close-btn {
  cursor: pointer;
  color: #333;
  font-size: 1.2rem;
}
.close-btn:hover {
  color: #585858;;
}


.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /*background: linear-gradient(180deg, rgb(46, 46, 46) 0%, rgb(81, 81, 81) 50%, rgb(46, 46, 46) 100%);
*/
  }
.todo-completed {
  text-decoration: line-through;
}

.todo-item svg {
  /*FontAwesomeIconrenderassom<svg>*/color: rgb(172, 172, 172);
  /*Görpapperskorgenröd*/cursor: pointer;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.todo-item svg:hover {
  cursor: pointer;
}



